name: Fetch Telecom IPs

permissions:
  contents: write

on:
  schedule:
    - cron: "0 * * * *"  # 每小时运行
  workflow_dispatch:

jobs:
  update_ips:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install requests beautifulsoup4

      - name: Run script
        run: python fetch_ip.py

      - name: Commit and push if changed
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add china_telecom_ips.txt
          git commit -m "Auto update telecom IPs" || exit 0
          git push
